# Auto detect text files and perform LF normalization
* text=auto

# Solidity files
*.sol text eol=lf
*.toml text eol=lf

# Scripts
*.sh text eol=lf
*.js text eol=lf
*.ts text eol=lf

# Configs
*.json text eol=lf
*.yaml text eol=lf
*.yml text eol=lf
*.md text eol=lf

# Images
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.svg text

# Fonts
*.woff binary
*.woff2 binary
*.ttf binary
*.otf binary
