# Configuración de pnpm
strict-peer-dependencies=false
auto-install-peers=true

# Configuración de workspace
link-workspace-packages=true
shared-workspace-lockfile=true

# Estructura de node_modules
# Cada workspace tendrá su propio node_modules
public-hoist-pattern[]=*types*
public-hoist-pattern[]=*eslint*
public-hoist-pattern[]=@expo/*
